.button {
  outline: none;
  background-color: transparent;
  height: 45px;
  line-height: 17px;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 5px;
  font-family: "Roboto Condensed";
  font-weight: 700;
  color: inherit;
  letter-spacing: 1px;
  cursor: pointer;
}
