@font-face {
  font-family: "Roboto Condensed";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/RobotoCondensed-Regular.woff"),
        url("/fonts/RobotoCondensed-Regular.woff");
}

@font-face {
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/RobotoCondensed-Bold.woff"),
        url("/fonts/RobotoCondensed-Bold.woff");
}

@font-face {
  font-family: "Roboto Condensed";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/RobotoCondensed-light.woff"),
        url("/fonts/RobotoCondensed-light.woff");
}

@font-face {
  font-family: "PT mono";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/pt-mono-regular.woff"),
        url("/fonts/pt-mono-regular.woff");
}
