$white: #ffffff;
$dark-blue: #1B2D37;
$blue: #00B2FF;
$bg-grey: #FAFAFA;
$light-grey: #EBEBEB;
$grey-1: #666666;
$grey: #788891;
$footer-border: rgba(98,105,98,0.2);
$bg-transparent: rgba(255,255,255,0.1);
$popup-background: rgba(0, 0, 0, 0.5);




$desktop-width: 1024px;
$tablet-width: 1023px;
$mobile-width: 769px;

